@import "tailwindcss";

#hero {
  --dot-bg: white;
  --dot-color: black;
  --dot-size: 0.5px;
  --dot-space: 15px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
    font-family: 'Poppins', sans-serif;
}