
.preview-btn {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#iframe {
  height: 90%;
  width: 100%;
}

#iframeDiv{
  display: none;
  flex-direction: column;
  align-items: end;
  position: fixed;
  top: 20px;
  right: 20px;
  height: 600px;
  width: 900px;
  background: rgb(206, 89, 89);
  z-index: 999;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 5px;
}
#closeBtn{
  display: block;
  margin: 5px;
  padding: 5px 10px;
  background-color: #2964d1d5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}